h1 {
  text-align: right;
  padding: 0px 50px 10px 50px;
  margin: 0px 0px 10px 0px;
}

.subtitle {
  margin: 20px 0px;
  color: #999;
  font-weight: bolder;
  font-size: 24pt;
}

p {
  margin: 5px 0px;
  color: #666;
  font-size: 16pt;
}

input:invalid {
  border: 5px dashed red;
}

input:valid {
  border: 1px solid blue;
}